@import "tailwindcss";
@import "tw-animate-css";

@theme {
	--font-title: "Geist", sans-serif;
	--font-primary: "Changa one", sans-serif;
	--font-secondary: "Inter", sans-serif;

	--shadow-section: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;

	--color-default: #050315;
	--color-background: #faffff;
	--color-primary: #2f27ce;
	--color-secondary: #dedcff;
	--color-accent: #433bff;
}
